# Ignore compiled files
*.pyc
*.pyo
__pycache__/

# Ignore the virtual environment
venv/

# Ignore logs and databases
*.log
*.sqlite3

# Ignore local configuration files
.env
local_settings.py

# Ignore IDE or editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore system and temporary files
.DS_Store
Thumbs.db
__MACOSX/

# Ignore dependencies
/node_modules/
/yarn-error.log